## SQL Practices

In [1]:
# Load Magic commands
import sqlite3
%load_ext sql

# Load SQLite database
%sql sqlite:///pandp.db

In [2]:
%%sql
SELECT name tables
FROM sqlite_master 
WHERE type IN ('table','view') AND name NOT LIKE 'sqlite_%' 
ORDER BY 1;

 * sqlite:///pandp.db
Done.

[('accounts',), ('orders',), ('region',), ('sales_reps',), ('web_events',)]

### order by

In [3]:
%%sql
SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY account_id, total_amt_usd DESC
limit 5;

 * sqlite:///pandp.db
Done.

[(4308, 1001, 9426.71),
 (4309, 1001, 9230.67),
 (4316, 1001, 9134.31),
 (4317, 1001, 8963.91),
 (4314, 1001, 8863.24)]

In [4]:
%%sql
SELECT id, account_id, total_amt_usd
FROM orders
ORDER BY total_amt_usd DESC, account_id
limit 5;

 * sqlite:///pandp.db
Done.

[(4016, 4251, 232207.07),
 (3892, 4161, 112875.18),
 (3963, 4211, 107533.55),
 (5791, 2861, 95005.82),
 (3778, 4101, 93547.84)]

### where

In [5]:
%%sql
SELECT *
FROM orders
WHERE account_id = 4251
ORDER BY occurred_at
LIMIT 1000;

 * sqlite:///pandp.db
Done.

[(6719, 4251, '2016-06-05 01:16:37', 0, 78, 0, 78, 0, 584.22, 0, 584.22),
 (4009, 4251, '2016-06-05 01:36:42', 626, 15, 0, 641, 3123.74, 112.35, 0, 3236.09),
 (4010, 4251, '2016-07-04 12:34:49', 498, 6, 2, 506, 2485.02, 44.94, 16.24, 2546.2),
 (4011, 4251, '2016-08-02 00:53:28', 679, 36, 5, 720, 3388.21, 269.64, 40.6, 3698.45),
 (6720, 4251, '2016-08-02 01:13:08', 9, 0, 19, 28, 44.91, 0, 154.28, 199.19),
 (4012, 4251, '2016-09-01 02:32:51', 503, 13, 32, 548, 2509.97, 97.37, 259.84, 2867.18),
 (6721, 4251, '2016-09-01 02:39:55', 3, 71, 50, 124, 14.97, 531.79, 406, 952.76),
 (4013, 4251, '2016-09-30 13:31:53', 503, 39, 0, 542, 2509.97, 292.11, 0, 2802.08),
 (4014, 4251, '2016-10-29 12:04:06', 483, 12, 0, 495, 2410.17, 89.88, 0, 2500.05),
 (6722, 4251, '2016-11-27 15:16:07', 19, 56, 0, 75, 94.81, 419.44, 0, 514.25),
 (4015, 4251, '2016-11-27 15:17:06', 520, 21, 7, 548, 2594.8, 157.29, 56.84, 2808.93),
 (6723, 4251, '2016-12-26 08:39:56', 0, 31, 21, 52, 0, 232.19, 170.52, 402.71),
 (4016, 4251, '2016-12-26 08:53:24', 521, 16, 28262, 28799, 2599.79, 119.84, 229487.44, 232207.07)]

In [6]:
%%sql
SELECT *
FROM orders
WHERE gloss_amt_usd >= 1000
LIMIT 5;

 * sqlite:///pandp.db
Done.

[(14, 1001, '2016-10-26 20:31:30', 97, 143, 54, 294, 484.03, 1071.07, 438.48, 1993.58),
 (62, 1091, '2014-10-13 12:12:55', 146, 196, 3, 345, 728.54, 1468.04, 24.36, 2220.94),
 (88, 1101, '2015-06-24 13:08:15', 182, 339, 17, 538, 908.18, 2539.11, 138.04, 3585.33),
 (121, 1131, '2016-08-10 23:47:41', 273, 134, 0, 407, 1362.27, 1003.66, 0, 2365.93),
 (129, 1141, '2016-12-21 15:52:58', 143, 1045, 2157, 3345, 713.57, 7827.05, 17514.84, 26055.46)]

In [7]:
%%sql
SELECT *
FROM orders
WHERE total_amt_usd < 500
LIMIT 10;

 * sqlite:///pandp.db
Done.

[(67, 1091, '2015-04-07 13:29:20', 95, 0, 0, 95, 474.05, 0, 0, 474.05),
 (96, 1101, '2016-03-15 11:36:03', 14, 8, 16, 38, 69.86, 59.92, 129.92, 259.7),
 (119, 1131, '2016-06-12 12:29:45', 0, 30, 23, 53, 0, 224.7, 186.76, 411.46),
 (124, 1131, '2016-11-07 05:10:56', 0, 0, 0, 0, 0, 0, 0, 0),
 (254, 1251, '2014-11-01 02:15:24', 0, 0, 17, 17, 0, 0, 138.04, 138.04),
 (328, 1291, '2015-08-03 08:35:23', 0, 19, 21, 40, 0, 142.31, 170.52, 312.83),
 (542, 1421, '2015-11-13 09:07:09', 0, 64, 0, 64, 0, 479.36, 0, 479.36),
 (683, 1501, '2016-04-14 23:59:50', 0, 15, 16, 31, 0, 112.35, 129.92, 242.27),
 (713, 1521, '2014-11-23 16:04:03', 0, 8, 10, 18, 0, 59.92, 81.2, 141.12),
 (730, 1521, '2016-05-06 02:34:48', 0, 0, 2, 2, 0, 0, 16.24, 16.24)]

In [8]:
%%sql
SELECT *
FROM accounts
WHERE name = 'United Technologies'

 * sqlite:///pandp.db
Done.

[(1441, 'United Technologies', 'www.utc.com', 42.329397, -75.15785469, 'Janett Wisecarver', 321520)]

In [9]:
%%sql
SELECT *
FROM accounts
WHERE name != 'United Technologies'
limit 5

 * sqlite:///pandp.db
Done.

[(1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (1011, 'Exxon Mobil', 'www.exxonmobil.com', 41.1691563, -73.84937379, 'Sung Shields', 321510),
 (1021, 'Apple', 'www.apple.com', 42.29049481, -76.08400942, 'Jodee Lupo', 321520),
 (1031, 'Berkshire Hathaway', 'www.berkshirehathaway.com', 40.94902131, -75.76389759, 'Serafina Banda', 321530),
 (1041, 'McKesson', 'www.mckesson.com', 42.21709326, -75.28499823, 'Angeles Crusoe', 321540)]

In [10]:
%%sql
SELECT name, website, primary_poc
FROM accounts
WHERE name = 'Exxon Mobil'

 * sqlite:///pandp.db
Done.

[('Exxon Mobil', 'www.exxonmobil.com', 'Sung Shields')]

### Arthmetic

In [11]:
%%sql
SELECT account_id,
       occurred_at,
       standard_qty,
       gloss_qty + poster_qty AS nonstandard_qty
FROM orders
limit 5;

 * sqlite:///pandp.db
Done.

[(1001, '2015-10-06 17:31:14', 123, 46),
 (1001, '2015-11-05 03:34:33', 190, 98),
 (1001, '2015-12-04 04:21:55', 85, 47),
 (1001, '2016-01-02 01:18:24', 144, 32),
 (1001, '2016-02-01 19:27:27', 108, 57)]

In [12]:
%%sql
SELECT id, account_id, standard_amt_usd/standard_qty AS unit_price
FROM orders
LIMIT 10;

 * sqlite:///pandp.db
Done.

[(1, 1001, 4.99),
 (2, 1001, 4.99),
 (3, 1001, 4.989999999999999),
 (4, 1001, 4.989999999999999),
 (5, 1001, 4.989999999999999),
 (6, 1001, 4.99),
 (7, 1001, 4.99),
 (8, 1001, 4.99),
 (9, 1001, 4.989999999999999),
 (10, 1001, 4.99)]

In [13]:
%%sql
SELECT id, account_id, 
poster_amt_usd/(standard_amt_usd + gloss_amt_usd + poster_amt_usd) AS post_per
FROM orders
LIMIT 10;

 * sqlite:///pandp.db
Done.

[(1, 1001, 0.20019929527546923),
 (2, 1001, 0.269401582044551),
 (3, 1001, 0.0),
 (4, 1001, 0.0),
 (5, 1001, 0.23117672777557474),
 (6, 1001, 0.349983602717264),
 (7, 1001, 0.49862501668669074),
 (8, 1001, 0.5974661339050775),
 (9, 1001, 0.23737326760301367),
 (10, 1001, 0.07393917319249681)]

### like

In [14]:
%%sql
SELECT *
FROM accounts
WHERE website LIKE '%google%';

 * sqlite:///pandp.db
Done.

[(1351, 'Alphabet', 'www.google.com', 40.20427811, -75.07724145, 'Pamula Hammel', 321640)]

In [15]:
%%sql
SELECT name
FROM accounts
WHERE name LIKE 'C%';

 * sqlite:///pandp.db
Done.

[('CVS Health',),
 ('Chevron',),
 ('Costco',),
 ('Cardinal Health',),
 ('Citigroup',),
 ('Comcast',),
 ('Cisco Systems',),
 ('Caterpillar',),
 ('Coca-Cola',),
 ('Cigna',),
 ('CHS',),
 ('ConocoPhillips',),
 ('Capital One Financial',),
 ('Centene',),
 ('Community Health Systems',),
 ('Cummins',),
 ('CenturyLink',),
 ('Colgate-Palmolive',),
 ('ConAgra Foods',),
 ('CarMax',),
 ('CBS',),
 ('C.H. Robinson Worldwide',),
 ('CDW',),
 ('Chesapeake Energy',),
 ('Consolidated Edison',),
 ('Cognizant Technology Solutions',),
 ('Computer Sciences',),
 ('CSX',),
 ('CBRE Group',),
 ('Charter Communications',),
 ('CST Brands',),
 ('Celgene',),
 ('Corning',),
 ('Core-Mark Holding',),
 ('Cameron International',),
 ('Crown Holdings',),
 ('Campbell Soup',)]

In [16]:
%%sql
SELECT name
FROM accounts
WHERE name LIKE '%one%';

 * sqlite:///pandp.db
Done.

[('Honeywell International',),
 ('INTL FCStone',),
 ('Capital One Financial',),
 ('AutoZone',),
 ('Oneok',)]

In [17]:
%%sql
SELECT name
FROM accounts
WHERE name LIKE '%s'
limit 5;

 * sqlite:///pandp.db
Done.

[('General Motors',),
 ('United Technologies',),
 ("Lowe's",),
 ('UPS',),
 ('Cisco Systems',)]

## In

In [18]:
%%sql
SELECT *
FROM orders
WHERE account_id IN (1001,1021)
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49)]

In [19]:
%%sql
SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name IN ('Walmart', 'Target', 'Nordstrom');

 * sqlite:///pandp.db
Done.

[('Walmart', 'Tamara Tuma', 321500),
 ('Target', 'Luba Streett', 321660),
 ('Nordstrom', 'Yan Crater', 321820)]

### Not

In [20]:
%%sql
SELECT sales_rep_id, 
       name
FROM accounts
WHERE sales_rep_id NOT IN (321500,321570)
ORDER BY sales_rep_id
limit 5;

 * sqlite:///pandp.db
Done.

[(321510, 'Exxon Mobil'),
 (321510, 'J.P. Morgan Chase'),
 (321510, 'PepsiCo'),
 (321510, 'Energy Transfer Equity'),
 (321510, 'Delta Air Lines')]

In [21]:
%%sql
SELECT *
FROM accounts
WHERE website NOT LIKE '%com%';

 * sqlite:///pandp.db
Done.

[(1811, 'TIAA', 'www.tiaa.org', 42.3595683, -71.05133234, 'Deeanna Burpo', 321640),
 (2241, 'Community Health Systems', 'www.chs.net', 41.87567906, -87.63221831, 'Grazyna Dewald', 321710)]

In [22]:
%%sql
SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name NOT IN ('Walmart', 'Target', 'Nordstrom')
limit 5;

 * sqlite:///pandp.db
Done.

[('Exxon Mobil', 'Sung Shields', 321510),
 ('Apple', 'Jodee Lupo', 321520),
 ('Berkshire Hathaway', 'Serafina Banda', 321530),
 ('McKesson', 'Angeles Crusoe', 321540),
 ('UnitedHealth Group', 'Savanna Gayman', 321550)]

In [23]:
%%sql
SELECT *
FROM web_events
WHERE channel NOT IN ('organic', 'adwords')
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:13:58', 'direct'),
 (2, 1001, '2015-11-05 03:08:26', 'direct'),
 (3, 1001, '2015-12-04 03:57:24', 'direct'),
 (4, 1001, '2016-01-02 00:55:03', 'direct'),
 (5, 1001, '2016-02-01 19:02:33', 'direct')]

In [24]:
%%sql
SELECT name
FROM accounts
WHERE name NOT LIKE '%s'
limit 5;

 * sqlite:///pandp.db
Done.

[('Walmart',),
 ('Exxon Mobil',),
 ('Apple',),
 ('Berkshire Hathaway',),
 ('McKesson',)]

### AND & Between

In [25]:
%%sql
SELECT *
FROM orders
WHERE occurred_at >= '2016-04-01' AND occurred_at <= '2016-10-01'
ORDER BY occurred_at
limit 5;

 * sqlite:///pandp.db
Done.

[(1757, 2341, '2016-04-01 04:39:00', 500, 0, 21, 521, 2495, 0, 170.52, 2665.52),
 (1591, 2181, '2016-04-01 06:10:39', 298, 194, 0, 492, 1487.02, 1453.06, 0, 2940.08),
 (4312, 1001, '2016-04-01 11:15:27', 497, 618, 152, 1267, 2480.03, 4628.82, 1234.24, 8343.09),
 (7, 1001, '2016-04-01 11:20:18', 101, 33, 92, 226, 503.99, 247.17, 747.04, 1498.2),
 (589, 1441, '2016-04-01 16:01:34', 317, 38, 1, 356, 1581.83, 284.62, 8.12, 1874.57)]

In [26]:
%%sql
SELECT *
FROM orders
WHERE occurred_at BETWEEN '2016-04-01' AND '2016-10-01'
ORDER BY occurred_at
limit 5;

 * sqlite:///pandp.db
Done.

[(1757, 2341, '2016-04-01 04:39:00', 500, 0, 21, 521, 2495, 0, 170.52, 2665.52),
 (1591, 2181, '2016-04-01 06:10:39', 298, 194, 0, 492, 1487.02, 1453.06, 0, 2940.08),
 (4312, 1001, '2016-04-01 11:15:27', 497, 618, 152, 1267, 2480.03, 4628.82, 1234.24, 8343.09),
 (7, 1001, '2016-04-01 11:20:18', 101, 33, 92, 226, 503.99, 247.17, 747.04, 1498.2),
 (589, 1441, '2016-04-01 16:01:34', 317, 38, 1, 356, 1581.83, 284.62, 8.12, 1874.57)]

In [27]:
%%sql
SELECT *
FROM orders
WHERE standard_qty > 1000 AND poster_qty = 0 AND gloss_qty = 0;

 * sqlite:///pandp.db
Done.

[(2613, 2951, '2016-08-15 00:06:12', 1171, 0, 0, 1171, 5843.29, 0, 0, 5843.29),
 (3260, 3491, '2014-08-29 22:43:00', 1552, 0, 0, 1552, 7744.48, 0, 0, 7744.48)]

In [28]:
%%sql
SELECT name
FROM accounts
WHERE name NOT LIKE 'C%' AND name LIKE '%s'
limit 4;

 * sqlite:///pandp.db
Done.

[('General Motors',), ('United Technologies',), ("Lowe's",), ('UPS',)]

In [29]:
%%sql
SELECT *
FROM web_events
WHERE channel IN ('organic', 'adwords') AND occurred_at BETWEEN '2016-01-01' AND '2017-01-01'
ORDER BY occurred_at DESC
limit 5;

 * sqlite:///pandp.db
Done.

[(8493, 4141, '2016-12-31 16:31:23', 'organic'),
 (5661, 1851, '2016-12-31 06:55:38', 'organic'),
 (5562, 1791, '2016-12-31 02:08:50', 'adwords'),
 (7703, 3351, '2016-12-30 21:06:53', 'adwords'),
 (7921, 3521, '2016-12-30 20:15:48', 'organic')]

### or

In [30]:
%%sql
SELECT account_id,
       occurred_at,
       standard_qty,
       gloss_qty,
       poster_qty
FROM orders
WHERE standard_qty = 0 OR gloss_qty = 0 OR poster_qty = 0
limit 5;

 * sqlite:///pandp.db
Done.

[(1001, '2015-12-04 04:21:55', 85, 47, 0),
 (1001, '2016-01-02 01:18:24', 144, 32, 0),
 (1001, '2016-07-30 03:26:30', 101, 36, 0),
 (1011, '2016-12-21 10:59:34', 527, 14, 0),
 (1021, '2015-10-12 02:21:56', 516, 23, 0)]

In [31]:
%%sql
SELECT account_id,
       occurred_at,
       standard_qty,
       gloss_qty,
       poster_qty
FROM orders
WHERE (standard_qty = 0 OR gloss_qty = 0 OR poster_qty = 0)
AND occurred_at = '2016-10-01'

 * sqlite:///pandp.db
Done.

[]

In [32]:
%%sql
SELECT id
FROM orders
WHERE gloss_qty > 4000 OR poster_qty > 4000
limit 5;

 * sqlite:///pandp.db
Done.

[(362,), (731,), (1191,), (1913,), (1939,)]

In [33]:
%%sql
SELECT *
FROM orders
WHERE standard_qty = 0 AND (gloss_qty > 1000 OR poster_qty > 1000);

 * sqlite:///pandp.db
Done.

[(1913, 2461, '2013-12-29 09:50:38', 0, 6450, 45, 6495, 0, 48310.5, 365.4, 48675.9),
 (4369, 1111, '2015-11-15 17:47:46', 0, 486, 2988, 3474, 0, 3640.14, 24262.56, 27902.7),
 (4391, 1161, '2016-06-04 08:58:10', 0, 106, 2967, 3073, 0, 793.94, 24092.04, 24885.98),
 (4420, 1191, '2016-05-21 23:21:14', 0, 43, 1448, 1491, 0, 322.07, 11757.76, 12079.83),
 (4448, 1231, '2016-06-25 12:27:15', 0, 3178, 23, 3201, 0, 23803.22, 186.76, 23989.98),
 (4698, 1451, '2015-02-26 06:13:21', 0, 484, 4901, 5385, 0, 3625.16, 39796.12, 43421.28),
 (4942, 1701, '2015-09-24 21:02:25', 0, 10744, 95, 10839, 0, 80472.56, 771.4, 81243.96),
 (5032, 1831, '2016-05-26 17:48:19', 0, 1448, 287, 1735, 0, 10845.52, 2330.44, 13175.96),
 (5191, 2051, '2015-05-17 14:17:59', 0, 1041, 0, 1041, 0, 7797.09, 0, 7797.09),
 (5791, 2861, '2014-10-24 12:06:22', 0, 10, 11691, 11701, 0, 74.9, 94930.92, 95005.82),
 (5805, 2861, '2016-09-29 04:51:11', 0, 60, 3122, 3182, 0, 449.4, 25350.64, 25800.04),
 (5895, 2931, '2016-01-18 09:21:18', 0, 519, 1315, 1834, 0, 3887.31, 10677.8, 14565.11),
 (5933, 3001, '2016-09-14 05:44:07', 0, 2802, 63, 2865, 0, 20986.98, 511.56, 21498.54),
 (6007, 3141, '2013-12-08 20:13:49', 0, 49, 1401, 1450, 0, 367.01, 11376.12, 11743.13),
 (6142, 3341, '2016-11-26 06:56:12', 0, 492, 1947, 2439, 0, 3685.08, 15809.64, 19494.72),
 (6285, 3491, '2015-02-22 09:54:25', 0, 1246, 0, 1246, 0, 9332.54, 0, 9332.54),
 (6332, 3571, '2016-09-18 15:30:41', 0, 51, 1752, 1803, 0, 381.99, 14226.24, 14608.23)]

In [34]:
%%sql
SELECT *
FROM accounts
WHERE (name LIKE 'C%' OR name LIKE 'W%') 
           AND ((primary_poc LIKE '%ana%' OR primary_poc LIKE '%Ana%') 
           AND primary_poc NOT LIKE '%eana%');

 * sqlite:///pandp.db
Done.

[(1061, 'CVS Health', 'www.cvshealth.com', 41.46779585, -73.76763638, 'Anabel Haskell', 321560),
 (1361, 'Comcast', 'www.comcastcorporation.com', 42.54154764, -76.24992387, 'Shana Sanborn', 321650)]

### SQL Joins

In [35]:
%%sql
SELECT orders.*,
       accounts.*
FROM orders 
JOIN accounts
ON orders.account_id = accounts.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500)]

In [36]:
%%sql
SELECT orders.*
FROM orders
JOIN accounts
ON orders.account_id = accounts.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49)]

In [37]:
%%sql
SELECT accounts.name, orders.occurred_at
FROM orders
JOIN accounts
ON orders.account_id = accounts.id
limit 5;

 * sqlite:///pandp.db
Done.

[('Walmart', '2015-10-06 17:31:14'),
 ('Walmart', '2015-11-05 03:34:33'),
 ('Walmart', '2015-12-04 04:21:55'),
 ('Walmart', '2016-01-02 01:18:24'),
 ('Walmart', '2016-02-01 19:27:27')]

In [38]:
%%sql
SELECT orders.standard_qty, orders.gloss_qty, 
 orders.poster_qty,  accounts.website, 
 accounts.primary_poc
FROM orders
JOIN accounts
ON orders.account_id = accounts.id
limit 5;

 * sqlite:///pandp.db
Done.

[(123, 22, 24, 'www.walmart.com', 'Tamara Tuma'),
 (190, 41, 57, 'www.walmart.com', 'Tamara Tuma'),
 (85, 47, 0, 'www.walmart.com', 'Tamara Tuma'),
 (144, 32, 0, 'www.walmart.com', 'Tamara Tuma'),
 (108, 29, 28, 'www.walmart.com', 'Tamara Tuma')]

In [39]:
%%sql
SELECT orders.*
FROM orders
JOIN accounts
ON orders.account_id = accounts.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49)]

### Alias

In [40]:
%%sql
SELECT o.*, a.*
FROM orders o
JOIN accounts a
ON o.account_id = a.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500)]

In [41]:
%%sql
SELECT a.primary_poc, w.occurred_at, w.channel, a.name
FROM web_events w
JOIN accounts a
ON w.account_id = a.id
WHERE a.name = 'Walmart';

 * sqlite:///pandp.db
Done.

[('Tamara Tuma', '2015-10-06 04:22:11', 'facebook', 'Walmart'),
 ('Tamara Tuma', '2015-10-06 17:13:58', 'direct', 'Walmart'),
 ('Tamara Tuma', '2015-10-22 05:02:47', 'organic', 'Walmart'),
 ('Tamara Tuma', '2015-10-22 14:04:20', 'adwords', 'Walmart'),
 ('Tamara Tuma', '2015-11-05 03:08:26', 'direct', 'Walmart'),
 ('Tamara Tuma', '2015-11-05 17:18:54', 'direct', 'Walmart'),
 ('Tamara Tuma', '2015-12-04 03:57:24', 'direct', 'Walmart'),
 ('Tamara Tuma', '2015-12-11 08:44:16', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-01-01 15:45:54', 'adwords', 'Walmart'),
 ('Tamara Tuma', '2016-01-02 00:55:03', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-01-13 19:31:14', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-02-01 19:02:33', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-02-07 17:44:10', 'adwords', 'Walmart'),
 ('Tamara Tuma', '2016-02-27 15:27:22', 'organic', 'Walmart'),
 ('Tamara Tuma', '2016-03-02 15:15:22', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-03-17 19:54:58', 'twitter', 'Walmart'),
 ('Tamara Tuma', '2016-04-01 10:58:55', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-04-05 03:02:52', 'organic', 'Walmart'),
 ('Tamara Tuma', '2016-04-17 16:41:02', 'organic', 'Walmart'),
 ('Tamara Tuma', '2016-05-01 14:26:40', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-05-01 15:26:44', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-05-07 02:28:31', 'banner', 'Walmart'),
 ('Tamara Tuma', '2016-05-21 16:22:01', 'organic', 'Walmart'),
 ('Tamara Tuma', '2016-05-31 20:53:47', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-06-02 04:41:31', 'facebook', 'Walmart'),
 ('Tamara Tuma', '2016-06-22 13:48:53', 'adwords', 'Walmart'),
 ('Tamara Tuma', '2016-06-30 12:09:45', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-07-12 22:43:02', 'banner', 'Walmart'),
 ('Tamara Tuma', '2016-07-26 11:29:09', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-07-26 21:08:52', 'banner', 'Walmart'),
 ('Tamara Tuma', '2016-07-30 03:06:26', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-08-12 09:31:22', 'organic', 'Walmart'),
 ('Tamara Tuma', '2016-08-28 06:42:42', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-09-01 18:33:56', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-09-11 17:06:53', 'adwords', 'Walmart'),
 ('Tamara Tuma', '2016-09-26 23:14:59', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-10-26 20:21:09', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-11-25 22:52:29', 'direct', 'Walmart'),
 ('Tamara Tuma', '2016-12-24 05:35:14', 'direct', 'Walmart')]

In [42]:
%%sql
SELECT r.name region, s.name rep, a.name account
FROM sales_reps s
JOIN region r
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
ORDER BY a.name
limit 5;

 * sqlite:///pandp.db
Done.

[('Northeast', 'Sibyl Lauria', '3M'),
 ('Southeast', 'Earlie Schleusner', 'ADP'),
 ('Southeast', 'Moon Torian', 'AECOM'),
 ('Southeast', 'Calvin Ollison', 'AES'),
 ('Northeast', 'Elba Felder', 'AIG')]

In [43]:
%%sql
SELECT r.name region, a.name account, 
    o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
limit 5;

 * sqlite:///pandp.db
Done.

[('Northeast', 'Walmart', 5.833423765599567),
 ('Northeast', 'Walmart', 5.879706082872509),
 ('Northeast', 'Walmart', 5.646522151667762),
 ('Northeast', 'Walmart', 5.935815147625161),
 ('Northeast', 'Walmart', 6.0194924371875205)]

### left & Right Joins

In [44]:
%%sql
SELECT a.id, a.name, o.total
FROM orders o
JOIN accounts a
ON o.account_id = a.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1001, 'Walmart', 169),
 (1001, 'Walmart', 288),
 (1001, 'Walmart', 132),
 (1001, 'Walmart', 176),
 (1001, 'Walmart', 165)]

In [45]:
%%sql
SELECT a.id, a.name, o.total
FROM orders o
LEFT JOIN accounts a
ON o.account_id = a.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1001, 'Walmart', 169),
 (1001, 'Walmart', 288),
 (1001, 'Walmart', 132),
 (1001, 'Walmart', 176),
 (1001, 'Walmart', 165)]

In [46]:
%%sql
SELECT a.id, a.name, o.total
FROM orders o
RIGHT JOIN accounts a
ON o.account_id = a.id
limit 5;

 * sqlite:///pandp.db
Done.

[(1001, 'Walmart', 169),
 (1001, 'Walmart', 288),
 (1001, 'Walmart', 132),
 (1001, 'Walmart', 176),
 (1001, 'Walmart', 165)]

### Joins & Filtering

In [50]:
%%sql
SELECT orders.*, accounts.*
FROM orders
LEFT JOIN accounts
ON orders.account_id = accounts.id 
WHERE accounts.sales_rep_id = 321500
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500)]

In [51]:
%%sql
SELECT orders.*, accounts.*
FROM orders
LEFT JOIN accounts
ON orders.account_id = accounts.id 
AND accounts.sales_rep_id = 321500
limit 5;

 * sqlite:///pandp.db
Done.

[(1, 1001, '2015-10-06 17:31:14', 123, 22, 24, 169, 613.77, 164.78, 194.88, 973.43, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (2, 1001, '2015-11-05 03:34:33', 190, 41, 57, 288, 948.1, 307.09, 462.84, 1718.03, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (3, 1001, '2015-12-04 04:21:55', 85, 47, 0, 132, 424.15, 352.03, 0, 776.18, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (4, 1001, '2016-01-02 01:18:24', 144, 32, 0, 176, 718.56, 239.68, 0, 958.24, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (5, 1001, '2016-02-01 19:27:27', 108, 29, 28, 165, 538.92, 217.21, 227.36, 983.49, 1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500)]

In [53]:
%%sql
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
WHERE o.standard_qty > 100
limit 5;

 * sqlite:///pandp.db
Done.

[('Northeast', 'Walmart', 5.759600023667239),
 ('Northeast', 'Walmart', 5.965174820318739),
 ('Northeast', 'Walmart', 5.44423612294756),
 ('Northeast', 'Walmart', 5.960184231258712),
 ('Northeast', 'Walmart', 6.1687185711808565)]

In [54]:
%%sql
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
WHERE o.standard_qty > 100 AND o.poster_qty > 50
ORDER BY unit_price
limit 5;

 * sqlite:///pandp.db
Done.

[('Northeast', 'State Farm Insurance Cos.', 5.119282250254291),
 ('Southeast', 'DISH Network', 5.231815847540363),
 ('Northeast', 'Travelers Cos.', 5.2351813313106526),
 ('Northeast', 'Best Buy', 5.260426437930026),
 ('West', 'Stanley Black & Decker', 5.266395560073999)]

In [55]:
%%sql
SELECT r.name region, a.name account, o.total_amt_usd/(o.total + 0.01) unit_price
FROM region r
JOIN sales_reps s
ON s.region_id = r.id
JOIN accounts a
ON a.sales_rep_id = s.id
JOIN orders o
ON o.account_id = a.id
WHERE o.standard_qty > 100 AND o.poster_qty > 50
ORDER BY unit_price DESC
limit 5;

 * sqlite:///pandp.db
Done.

[('Northeast', 'IBM', 8.089906082278144),
 ('West', 'Mosaic', 8.066329210358129),
 ('West', 'Pacific Life', 8.063022652514793),
 ('Northeast', 'CHS', 8.018849326780114),
 ('West', 'Fidelity National Financial', 7.9928024668468325)]

In [56]:
%%sql
SELECT DISTINCT a.name, w.channel
FROM accounts a
JOIN web_events w
ON a.id = w.account_id
WHERE a.id = '1001';

 * sqlite:///pandp.db
Done.

[('Walmart', 'adwords'),
 ('Walmart', 'banner'),
 ('Walmart', 'direct'),
 ('Walmart', 'facebook'),
 ('Walmart', 'organic'),
 ('Walmart', 'twitter')]

In [64]:
%%sql
SELECT o.occurred_at, a.name, o.total, o.total_amt_usd
FROM accounts a
JOIN orders o
ON o.account_id = a.id
WHERE o.occurred_at BETWEEN '01-01-2015' AND '01-01-2016'
ORDER BY o.occurred_at DESC;

 * sqlite:///pandp.db
Done.

[]

## Agregate functions

In [65]:
%%sql
SELECT *
FROM accounts
WHERE id > 1500 and id < 1600

 * sqlite:///pandp.db
Done.

[(1501, 'Intel', 'www.intel.com', 41.03153857, -74.66846407, 'Elouise Beyers', 321580),
 (1511, 'Humana', 'www.humana.com', 41.43233665, -77.00496342, 'Bettye Close', 321590),
 (1521, 'Disney', 'www.disney.com', 41.87879976, -74.81102607, 'Timika Mistretta', 321600),
 (1531, 'Cisco Systems', 'www.cisco.com', 41.20101093, -76.53824668, 'Deadra Waggener', 321610),
 (1541, 'Pfizer', 'www.pfizer.com', 40.69325986, -75.79453197, 'Olevia Taubman', 321620),
 (1551, 'Dow Chemical', 'www.dow.com', 40.53050671, -74.66656358, 'Lillia Ogden', 321630),
 (1561, 'Sysco', 'www.sysco.com', 40.76252413, -73.97753022, 'Julia Laracuente', 321640),
 (1571, 'FedEx', 'www.fedex.com', 40.75290524, -73.97519248, 'Keren Mcconn', 321650),
 (1581, 'Caterpillar', 'www.caterpillar.com', 40.74789383, -73.97738651, 'Latia Beene', 321660),
 (1591, 'Lockheed Martin', 'www.lockheedmartin.com', 40.75497089, -73.98233134, 'Jared Aikins', 321670)]

In [66]:
%%sql
SELECT *
FROM accounts
WHERE primary_poc = NULL

 * sqlite:///pandp.db
Done.

[]

In [68]:
%%sql
SELECT *
FROM accounts
WHERE primary_poc IS NOT NULL
limit 5;

 * sqlite:///pandp.db
Done.

[(1001, 'Walmart', 'www.walmart.com', 40.23849561, -75.10329704, 'Tamara Tuma', 321500),
 (1011, 'Exxon Mobil', 'www.exxonmobil.com', 41.1691563, -73.84937379, 'Sung Shields', 321510),
 (1021, 'Apple', 'www.apple.com', 42.29049481, -76.08400942, 'Jodee Lupo', 321520),
 (1031, 'Berkshire Hathaway', 'www.berkshirehathaway.com', 40.94902131, -75.76389759, 'Serafina Banda', 321530),
 (1041, 'McKesson', 'www.mckesson.com', 42.21709326, -75.28499823, 'Angeles Crusoe', 321540)]

In [69]:
%%sql
SELECT *
FROM accounts
WHERE primary_poc IS NULL

 * sqlite:///pandp.db
Done.

[]

### count

In [70]:
%%sql
SELECT COUNT(*)
FROM accounts;

 * sqlite:///pandp.db
Done.

[(351,)]

In [71]:
%%sql
SELECT COUNT(accounts.id)
FROM accounts;

 * sqlite:///pandp.db
Done.

[(351,)]

In [72]:
%%sql
SELECT *
FROM orders
WHERE occurred_at >= '2016-12-01'
AND occurred_at < '2017-01-01'

 * sqlite:///pandp.db
Done.

[(16, 1001, '2016-12-24 05:53:13', 123, 127, 19, 269, 613.77, 951.23, 154.28, 1719.28),
 (17, 1011, '2016-12-21 10:59:34', 527, 14, 0, 541, 2629.73, 104.86, 0, 2734.59),
 (24, 1031, '2016-12-25 03:54:27', 1148, 0, 215, 1363, 5728.52, 0, 1745.8, 7474.32),
 (27, 1041, '2016-12-12 07:50:01', 157, 34, 21, 212, 783.43, 254.66, 170.52, 1208.61),
 (33, 1051, '2016-12-30 08:45:43', 495, 1, 1, 497, 2470.05, 7.49, 8.12, 2485.66),
 (36, 1061, '2016-12-16 21:32:36', 290, 22, 18, 330, 1447.1, 164.78, 146.16, 1758.04),
 (37, 1071, '2016-12-13 09:01:03', 803, 31, 19, 853, 4006.97, 232.19, 154.28, 4393.44),
 (59, 1081, '2016-12-23 13:19:56', 293, 29, 0, 322, 1462.07, 217.21, 0, 1679.28),
 (87, 1091, '2016-12-14 21:26:59', 153, 0, 13, 166, 763.47, 0, 105.56, 869.03),
 (117, 1121, '2016-12-07 18:48:16', 321, 38, 9, 368, 1601.79, 284.62, 73.08, 1959.49),
 (125, 1131, '2016-12-07 06:28:31', 303, 28, 0, 331, 1511.97, 209.72, 0, 1721.69),
 (129, 1141, '2016-12-21 15:52:58', 143, 1045, 2157, 3345, 713.57, 7827.05, 17514.84, 26055.46),
 (130, 1151, '2016-12-30 05:02:46', 503, 0, 56, 559, 2509.97, 0, 454.72, 2964.69),
 (141, 1161, '2016-12-25 20:33:25', 509, 7, 6, 522, 2539.91, 52.43, 48.72, 2641.06),
 (146, 1171, '2016-12-20 18:09:01', 257, 34, 63, 354, 1282.43, 254.66, 511.56, 2048.65),
 (184, 1181, '2016-12-17 22:14:14', 428, 0, 22, 450, 2135.72, 0, 178.64, 2314.36),
 (196, 1191, '2016-12-15 20:49:47', 0, 171, 24, 195, 0, 1280.79, 194.88, 1475.67),
 (198, 1201, '2016-12-11 05:51:52', 510, 0, 11, 521, 2544.9, 0, 89.32, 2634.22),
 (200, 1211, '2016-12-21 23:39:04', 311, 22, 10, 343, 1551.89, 164.78, 81.2, 1797.87),
 (225, 1221, '2016-12-24 21:14:21', 510, 9, 39, 558, 2544.9, 67.41, 316.68, 2928.99),
 (235, 1231, '2016-12-20 14:07:59', 502, 0, 0, 502, 2504.98, 0, 0, 2504.98),
 (242, 1241, '2016-12-06 15:03:16', 136, 0, 34, 170, 678.64, 0, 276.08, 954.72),
 (284, 1261, '2016-12-15 05:00:47', 286, 71, 32, 389, 1427.14, 531.79, 259.84, 2218.77),
 (324, 1281, '2016-12-08 10:14:58', 512, 0, 26, 538, 2554.88, 0, 211.12, 2766),
 (345, 1291, '2016-12-15 09:24:19', 284, 25, 64, 373, 1417.16, 187.25, 519.68, 2124.09),
 (382, 1301, '2016-12-29 01:40:19', 89, 26, 32, 147, 444.11, 194.74, 259.84, 898.69),
 (388, 1311, '2016-12-02 22:47:08', 294, 34, 36, 364, 1467.06, 254.66, 292.32, 2014.04),
 (402, 1321, '2016-12-03 13:23:52', 502, 0, 0, 502, 2504.98, 0, 0, 2504.98),
 (408, 1331, '2016-12-13 20:59:34', 103, 30, 30, 163, 513.97, 224.7, 243.6, 982.27),
 (413, 1341, '2016-12-23 18:13:01', 287, 22, 0, 309, 1432.13, 164.78, 0, 1596.91),
 (418, 1351, '2016-12-15 04:36:53', 91, 24, 31, 146, 454.09, 179.76, 251.72, 885.57),
 (439, 1371, '2016-12-01 00:43:41', 294, 47, 9, 350, 1467.06, 352.03, 73.08, 1892.17),
 (440, 1371, '2016-12-31 17:05:01', 280, 12, 13, 305, 1397.2, 89.88, 105.56, 1592.64),
 (442, 1381, '2016-12-11 17:58:11', 299, 25, 8, 332, 1492.01, 187.25, 64.96, 1744.22),
 (445, 1391, '2016-12-04 00:48:13', 488, 12, 0, 500, 2435.12, 89.88, 0, 2525),
 (483, 1401, '2016-12-12 03:35:14', 265, 0, 24, 289, 1322.35, 0, 194.88, 1517.23),
 (519, 1411, '2016-12-28 04:34:58', 478, 0, 1, 479, 2385.22, 0, 8.12, 2393.34),
 (555, 1421, '2016-12-01 21:43:28', 338, 31, 19, 388, 1686.62, 232.19, 154.28, 2073.09),
 (556, 1421, '2016-12-31 21:33:16', 365, 27, 0, 392, 1821.35, 202.23, 0, 2023.58),
 (628, 1451, '2016-12-06 00:03:41', 296, 26, 15, 337, 1477.04, 194.74, 121.8, 1793.58),
 (642, 1461, '2016-12-26 11:13:33', 488, 15, 27, 530, 2435.12, 112.35, 219.24, 2766.71),
 (644, 1481, '2016-12-19 12:34:27', 105, 31, 18, 154, 523.95, 232.19, 146.16, 902.3),
 (668, 1491, '2016-12-24 04:28:51', 302, 32, 0, 334, 1506.98, 239.68, 0, 1746.66),
 (691, 1501, '2016-12-05 01:10:57', 307, 38, 34, 379, 1531.93, 284.62, 276.08, 2092.63),
 (701, 1511, '2016-12-12 21:47:44', 526, 40, 0, 566, 2624.74, 299.6, 0, 2924.34),
 (738, 1521, '2016-12-28 16:27:46', 498, 2, 164, 664, 2485.02, 14.98, 1331.68, 3831.68),
 (776, 1531, '2016-12-03 07:03:16', 510, 5, 26, 541, 2544.9, 37.45, 211.12, 2793.47),
 (793, 1541, '2016-12-20 09:45:37', 96, 36, 35, 167, 479.04, 269.64, 284.2, 1032.88),
 (794, 1551, '2016-12-13 04:28:36', 296, 9, 17, 322, 1477.04, 67.41, 138.04, 1682.49),
 (832, 1561, '2016-12-11 08:06:07', 260, 31, 72, 363, 1297.4, 232.19, 584.64, 2114.23),
 (869, 1571, '2016-12-01 07:20:12', 493, 49, 50, 592, 2460.07, 367.01, 406, 3233.08),
 (870, 1571, '2016-12-31 03:50:49', 499, 30, 5, 534, 2490.01, 224.7, 40.6, 2755.31),
 (879, 1581, '2016-12-31 18:50:52', 77, 27, 0, 104, 384.23, 202.23, 0, 586.46),
 (880, 1591, '2016-12-22 14:25:04', 457, 4, 16, 477, 2280.43, 29.96, 129.92, 2440.31),
 (918, 1601, '2016-12-06 13:14:16', 496, 0, 16, 512, 2475.04, 0, 129.92, 2604.96),
 (934, 1611, '2016-12-18 09:35:53', 506, 2, 21, 529, 2524.94, 14.98, 170.52, 2710.44),
 (935, 1621, '2016-12-07 08:07:13', 84, 82, 42, 208, 419.16, 614.18, 341.04, 1374.38),
 (941, 1631, '2016-12-02 05:56:42', 91, 48, 0, 139, 454.09, 359.52, 0, 813.61),
 (942, 1631, '2016-12-31 13:56:33', 110, 0, 0, 110, 548.9, 0, 0, 548.9),
 (946, 1641, '2016-12-06 06:31:38', 297, 0, 41, 338, 1482.03, 0, 332.92, 1814.95),
 (976, 1651, '2016-12-12 04:53:37', 161, 0, 2, 163, 803.39, 0, 16.24, 819.63),
 (984, 1661, '2016-12-18 18:47:37', 501, 0, 10, 511, 2499.99, 0, 81.2, 2581.19),
 (994, 1681, '2016-12-08 04:46:41', 742, 0, 43, 785, 3702.58, 0, 349.16, 4051.74),
 (1006, 1691, '2016-12-02 17:46:01', 509, 0, 14, 523, 2539.91, 0, 113.68, 2653.59),
 (1007, 1691, '2016-12-31 07:05:10', 0, 3, 24, 27, 0, 22.47, 194.88, 217.35),
 (1041, 1701, '2016-12-09 22:51:53', 153, 161, 0, 314, 763.47, 1205.89, 0, 1969.36),
 (1060, 1711, '2016-12-18 05:30:25', 491, 0, 12, 503, 2450.09, 0, 97.44, 2547.53),
 (1083, 1741, '2016-12-30 16:54:32', 504, 3, 10, 517, 2514.96, 22.47, 81.2, 2618.63),
 (1091, 1761, '2016-12-03 03:24:49', 17, 43, 31, 91, 84.83, 322.07, 251.72, 658.62),
 (1097, 1771, '2016-12-15 08:45:50', 465, 0, 0, 465, 2320.35, 0, 0, 2320.35),
 (1128, 1781, '2016-12-22 21:37:12', 531, 2, 11, 544, 2649.69, 14.98, 89.32, 2753.99),
 (1164, 1791, '2016-12-06 01:41:14', 494, 0, 8, 502, 2465.06, 0, 64.96, 2530.02),
 (1179, 1801, '2016-12-17 19:24:48', 300, 26, 12, 338, 1497, 194.74, 97.44, 1789.18),
 (1181, 1811, '2016-12-26 07:18:40', 525, 0, 60, 585, 2619.75, 0, 487.2, 3106.95),
 (1182, 1821, '2016-12-22 21:02:50', 330, 73, 22, 425, 1646.7, 546.77, 178.64, 2372.11),
 (1196, 1831, '2016-12-18 03:05:45', 346, 60, 30, 436, 1726.54, 449.4, 243.6, 2419.54),
 (1210, 1841, '2016-12-20 22:39:50', 519, 0, 8, 527, 2589.81, 0, 64.96, 2654.77),
 (1229, 1861, '2016-12-26 08:20:03', 306, 42, 19, 367, 1526.94, 314.58, 154.28, 1995.8),
 (1267, 1871, '2016-12-15 07:30:38', 299, 7, 18, 324, 1492.01, 52.43, 146.16, 1690.6),
 (1309, 1911, '2016-12-04 20:09:44', 96, 31, 0, 127, 479.04, 232.19, 0, 711.23),
 (1331, 1931, '2016-12-24 19:30:13', 543, 80, 0, 623, 2709.57, 599.2, 0, 3308.77),
 (1347, 1941, '2016-12-10 10:38:20', 149, 19, 19, 187, 743.51, 142.31, 154.28, 1040.1),
 (1365, 1971, '2016-12-01 19:57:35', 317, 24, 7, 348, 1581.83, 179.76, 56.84, 1818.43),
 (1366, 1971, '2016-12-31 00:15:29', 285, 30, 3, 318, 1422.15, 224.7, 24.36, 1671.21),
 (1380, 1991, '2016-12-06 11:46:07', 496, 4, 53, 553, 2475.04, 29.96, 430.36, 2935.36),
 (1396, 2011, '2016-12-13 22:44:16', 73, 53, 35, 161, 364.27, 396.97, 284.2, 1045.44),
 (1399, 2021, '2016-12-05 20:45:12', 490, 13, 30, 533, 2445.1, 97.37, 243.6, 2786.07),
 (1403, 2031, '2016-12-27 02:59:59', 302, 819, 25, 1146, 1506.98, 6134.31, 203, 7844.29),
 (1458, 2051, '2016-12-28 10:01:48', 483, 12, 0, 495, 2410.17, 89.88, 0, 2500.05),
 (1459, 2061, '2016-12-01 15:24:16', 498, 11, 0, 509, 2485.02, 82.39, 0, 2567.41),
 (1460, 2061, '2016-12-31 12:46:03', 480, 0, 0, 480, 2395.2, 0, 0, 2395.2),
 (1467, 2071, '2016-12-28 02:23:15', 439, 0, 25, 464, 2190.61, 0, 203, 2393.61),
 (1488, 2091, '2016-12-02 10:10:11', 602, 30, 6, 638, 3003.98, 224.7, 48.72, 3277.4),
 (1489, 2091, '2016-12-31 07:47:17', 465, 9, 611, 1085, 2320.35, 67.41, 4961.32, 7349.08),
 (1506, 2101, '2016-12-30 20:25:20', 295, 36, 25, 356, 1472.05, 269.64, 203, 1944.69),
 (1523, 2121, '2016-12-17 00:59:28', 77, 74, 31, 182, 384.23, 554.26, 251.72, 1190.21),
 (1528, 2131, '2016-12-17 13:28:34', 280, 20, 11, 311, 1397.2, 149.8, 89.32, 1636.32),
 (1546, 2141, '2016-12-13 16:06:58', 308, 28, 0, 336, 1536.92, 209.72, 0, 1746.64),
 (1553, 2151, '2016-12-14 20:31:33', 108, 31, 354, 493, 538.92, 232.19, 2874.48, 3645.59),
 (1556, 2161, '2016-12-26 16:54:34', 74, 44, 70, 188, 369.26, 329.56, 568.4, 1267.22),
 (1600, 2181, '2016-12-25 16:58:10', 312, 84, 49, 445, 1556.88, 629.16, 397.88, 2583.92),
 (1612, 2191, '2016-12-09 14:26:51', 282, 8, 33, 323, 1407.18, 59.92, 267.96, 1735.06),
 (1616, 2201, '2016-12-27 06:28:19', 507, 8, 8, 523, 2529.93, 59.92, 64.96, 2654.81),
 (1621, 2211, '2016-12-10 21:55:10', 58, 28, 2, 88, 289.42, 209.72, 16.24, 515.38),
 (1623, 2221, '2016-12-13 04:12:31', 100, 0, 28, 128, 499, 0, 227.36, 726.36),
 (1658, 2231, '2016-12-29 04:52:32', 309, 20, 22, 351, 1541.91, 149.8, 178.64, 1870.35),
 (1672, 2251, '2016-12-25 02:06:22', 495, 5, 36, 536, 2470.05, 37.45, 292.32, 2799.82),
 (1680, 2261, '2016-12-27 09:44:11', 68, 82, 0, 150, 339.32, 614.18, 0, 953.5),
 (1702, 2271, '2016-12-21 22:27:28', 284, 37, 32, 353, 1417.16, 277.13, 259.84, 1954.13),
 (1709, 2281, '2016-12-17 13:58:52', 498, 9, 172, 679, 2485.02, 67.41, 1396.64, 3949.07),
 (1721, 2291, '2016-12-22 09:10:26', 50, 37, 0, 87, 249.5, 277.13, 0, 526.63),
 (1730, 2311, '2016-12-07 10:51:29', 502, 21, 0, 523, 2504.98, 157.29, 0, 2662.27),
 (1731, 2321, '2016-12-21 03:00:21', 321, 36, 8, 365, 1601.79, 269.64, 64.96, 1936.39),
 (1766, 2341, '2016-12-23 09:43:43', 488, 61, 0, 549, 2435.12, 456.89, 0, 2892.01),
 (1803, 2351, '2016-12-15 00:16:07', 525, 115, 30, 670, 2619.75, 861.35, 243.6, 3724.7),
 (1824, 2361, '2016-12-29 07:18:36', 497, 515, 0, 1012, 2480.03, 3857.35, 0, 6337.38),
 (1863, 2391, '2016-12-06 10:05:56', 128, 22, 63, 213, 638.72, 164.78, 511.56, 1315.06),
 (1902, 2411, '2016-12-08 23:26:21', 511, 5, 10, 526, 2549.89, 37.45, 81.2, 2668.54),
 (1905, 2421, '2016-12-15 12:17:59', 272, 0, 0, 272, 1357.28, 0, 0, 1357.28),
 (1907, 2431, '2016-12-21 08:54:05', 490, 0, 3, 493, 2445.1, 0, 24.36, 2469.46),
 (1911, 2441, '2016-12-19 21:18:32', 118, 66, 29, 213, 588.82, 494.34, 235.48, 1318.64),
 (1912, 2451, '2016-12-18 20:11:26', 280, 69, 20, 369, 1397.2, 516.81, 162.4, 2076.41),
 (1945, 2471, '2016-12-12 23:24:33', 301, 23, 16, 340, 1501.99, 172.27, 129.92, 1804.18),
 (1984, 2481, '2016-12-27 11:21:56', 379, 0, 12, 391, 1891.21, 0, 97.44, 1988.65),
 (1986, 2491, '2016-12-11 01:01:42', 511, 11, 5, 527, 2549.89, 82.39, 40.6, 2672.88),
 (1996, 2501, '2016-12-10 18:00:23', 497, 8, 24, 529, 2480.03, 59.92, 194.88, 2734.83),
 (2003, 2511, '2016-12-11 09:42:54', 499, 34, 15, 548, 2490.01, 254.66, 121.8, 2866.47),
 (2011, 2521, '2016-12-06 21:42:29', 506, 0, 0, 506, 2524.94, 0, 0, 2524.94),
 (2061, 2541, '2016-12-19 21:58:08', 294, 26, 21, 341, 1467.06, 194.74, 170.52, 1832.32),
 (2068, 2551, '2016-12-17 08:46:59', 467, 7, 24, 498, 2330.33, 52.43, 194.88, 2577.64),
 (2070, 2561, '2016-12-23 11:44:49', 81, 18, 27, 126, 404.19, 134.82, 219.24, 758.25),
 (2085, 2581, '2016-12-18 15:09:48', 83, 34, 29, 146, 414.17, 254.66, 235.48, 904.31),
 (2122, 2591, '2016-12-02 23:01:20', 304, 20, 0, 324, 1516.96, 149.8, 0, 1666.76),
 (2123, 2591, '2016-12-31 04:03:13', 291, 22, 21, 334, 1452.09, 164.78, 170.52, 1787.39),
 (2148, 2611, '2016-12-09 00:49:27', 514, 7, 0, 521, 2564.86, 52.43, 0, 2617.29),
 (2151, 2621, '2016-12-14 04:09:28', 179, 5, 10, 194, 893.21, 37.45, 81.2, 1011.86),
 (2188, 2631, '2016-12-17 13:02:50', 610, 6, 0, 616, 3043.9, 44.94, 0, 3088.84),
 (2198, 2641, '2016-12-16 13:30:22', 498, 14, 0, 512, 2485.02, 104.86, 0, 2589.88),
 (2214, 2661, '2016-12-24 06:46:49', 93, 73, 36, 202, 464.07, 546.77, 292.32, 1303.16),
 (2239, 2671, '2016-12-23 05:59:14', 100, 1, 36, 137, 499, 7.49, 292.32, 798.81),
 (2261, 2681, '2016-12-08 13:24:04', 302, 28, 0, 330, 1506.98, 209.72, 0, 1716.7),
 (2279, 2691, '2016-12-28 02:45:22', 581, 1, 0, 582, 2899.19, 7.49, 0, 2906.68),
 (2293, 2701, '2016-12-11 15:36:59', 152, 6, 31, 189, 758.48, 44.94, 251.72, 1055.14),
 (2302, 2711, '2016-12-11 22:14:23', 496, 0, 8, 504, 2475.04, 0, 64.96, 2540),
 (2304, 2721, '2016-12-15 12:15:17', 0, 23, 29, 52, 0, 172.27, 235.48, 407.75),
 (2342, 2731, '2016-12-02 22:48:22', 504, 71, 1, 576, 2514.96, 531.79, 8.12, 3054.87),
 (2343, 2731, '2016-12-31 21:28:32', 497, 17, 0, 514, 2480.03, 127.33, 0, 2607.36),
 (2349, 2741, '2016-12-15 03:21:34', 295, 49, 0, 344, 1472.05, 367.01, 0, 1839.06),
 (2352, 2751, '2016-12-26 03:14:58', 276, 24, 15, 315, 1377.24, 179.76, 121.8, 1678.8),
 (2355, 2761, '2016-12-10 16:34:50', 0, 0, 7, 7, 0, 0, 56.84, 56.84),
 (2360, 2781, '2016-12-10 09:40:01', 370, 24, 16, 410, 1846.3, 179.76, 129.92, 2155.98),
 (2363, 2791, '2016-12-26 18:38:47', 171, 49, 35, 255, 853.29, 367.01, 284.2, 1504.5),
 (2372, 2811, '2016-12-27 16:31:05', 437, 44, 39, 520, 2180.63, 329.56, 316.68, 2826.87),
 (2378, 2821, '2016-12-23 03:21:18', 89, 32, 31, 152, 444.11, 239.68, 251.72, 935.51),
 (2387, 2831, '2016-12-16 14:35:56', 308, 43, 45, 396, 1536.92, 322.07, 365.4, 2224.39),
 (2400, 2841, '2016-12-30 23:44:31', 507, 28, 50, 585, 2529.93, 209.72, 406, 3145.65),
 (2414, 2851, '2016-12-24 09:51:57', 43, 0, 39, 82, 214.57, 0, 316.68, 531.25),
 (2453, 2861, '2016-12-26 04:21:38', 474, 55, 5, 534, 2365.26, 411.95, 40.6, 2817.81),
 (2491, 2871, '2016-12-08 15:51:05', 506, 9, 0, 515, 2524.94, 67.41, 0, 2592.35),
 (2529, 2881, '2016-12-20 20:03:14', 499, 8, 11, 518, 2490.01, 59.92, 89.32, 2639.25),
 (2531, 2891, '2016-12-09 15:07:12', 333, 79, 3, 415, 1661.67, 591.71, 24.36, 2277.74),
 (2542, 2901, '2016-12-26 15:21:22', 343, 7, 32, 382, 1711.57, 52.43, 259.84, 2023.84),
 (2556, 2911, '2016-12-29 05:05:04', 297, 33, 20, 350, 1482.03, 247.17, 162.4, 1891.6),
 (2565, 2921, '2016-12-14 02:55:32', 295, 11, 16, 322, 1472.05, 82.39, 129.92, 1684.36),
 (2603, 2931, '2016-12-09 20:05:58', 307, 23, 26, 356, 1531.93, 172.27, 211.12, 1915.32),
 (2604, 2941, '2016-12-28 07:39:53', 277, 5, 14, 296, 1382.23, 37.45, 113.68, 1533.36),
 (2617, 2951, '2016-12-10 15:13:44', 494, 34, 3, 531, 2465.06, 254.66, 24.36, 2744.08),
 (2622, 2961, '2016-12-07 12:06:01', 572, 36, 0, 608, 2854.28, 269.64, 0, 3123.92),
 (2646, 2981, '2016-12-30 06:02:29', 249, 4, 1, 254, 1242.51, 29.96, 8.12, 1280.59),
 (2657, 2991, '2016-12-21 05:18:14', 145, 6, 404, 555, 723.55, 44.94, 3280.48, 4048.97),
 (2669, 3001, '2016-12-10 05:04:12', 505, 14, 1, 520, 2519.95, 104.86, 8.12, 2632.93),
 (2671, 3021, '2016-12-03 11:46:47', 297, 32, 853, 1182, 1482.03, 239.68, 6926.36, 8648.07),
 (2679, 3031, '2016-12-03 19:21:45', 488, 116, 0, 604, 2435.12, 868.84, 0, 3303.96),
 (2691, 3041, '2016-12-29 22:04:41', 297, 38, 22, 357, 1482.03, 284.62, 178.64, 1945.29),
 (2729, 3051, '2016-12-08 04:03:50', 515, 12, 7, 534, 2569.85, 89.88, 56.84, 2716.57),
 (2753, 3061, '2016-12-15 20:36:03', 505, 13, 130, 648, 2519.95, 97.37, 1055.6, 3672.92),
 (2754, 3071, '2016-12-27 18:21:23', 304, 14, 1, 319, 1516.96, 104.86, 8.12, 1629.94),
 (2762, 3081, '2016-12-16 03:41:01', 485, 25, 6, 516, 2420.15, 187.25, 48.72, 2656.12),
 (2763, 3091, '2016-12-04 12:07:57', 498, 0, 10, 508, 2485.02, 0, 81.2, 2566.22),
 (2799, 3121, '2016-12-26 17:04:41', 486, 25, 8, 519, 2425.14, 187.25, 64.96, 2677.35),
 (2810, 3131, '2016-12-21 04:52:53', 309, 23, 15, 347, 1541.91, 172.27, 121.8, 1835.98),
 (2848, 3141, '2016-12-02 21:35:39', 581, 0, 261, 842, 2899.19, 0, 2119.32, 5018.51),
 (2872, 3171, '2016-12-22 00:11:30', 495, 10, 0, 505, 2470.05, 74.9, 0, 2544.95),
 (2886, 3181, '2016-12-02 18:37:30', 520, 0, 14, 534, 2594.8, 0, 113.68, 2708.48),
 (2887, 3181, '2016-12-31 17:45:43', 512, 10, 0, 522, 2554.88, 74.9, 0, 2629.78),
 (2902, 3191, '2016-12-13 07:00:08', 310, 32, 32, 374, 1546.9, 239.68, 259.84, 2046.42),
 (2905, 3211, '2016-12-29 11:43:55', 257, 6, 13, 276, 1282.43, 44.94, 105.56, 1432.93),
 (2931, 3241, '2016-12-17 06:07:58', 80, 8, 0, 88, 399.2, 59.92, 0, 459.12),
 (2985, 3261, '2016-12-23 18:50:10', 554, 13, 34, 601, 2764.46, 97.37, 276.08, 3137.91),
 (2998, 3291, '2016-12-09 20:43:20', 95, 12, 38, 145, 474.05, 89.88, 308.56, 872.49),
 (3017, 3311, '2016-12-17 01:56:38', 603, 6, 0, 609, 3008.97, 44.94, 0, 3053.91),
 (3035, 3331, '2016-12-04 02:30:47', 98, 36, 41, 175, 489.02, 269.64, 332.92, 1091.58),
 (3045, 3341, '2016-12-26 05:54:34', 0, 0, 11, 11, 0, 0, 89.32, 89.32),
 (3049, 3351, '2016-12-25 14:34:54', 469, 38, 0, 507, 2340.31, 284.62, 0, 2624.93),
 (3056, 3361, '2016-12-14 23:46:15', 533, 17, 37, 587, 2659.67, 127.33, 300.44, 3087.44),
 (3069, 3391, '2016-12-18 17:08:52', 292, 27, 20, 339, 1457.08, 202.23, 162.4, 1821.71),
 (3070, 3401, '2016-12-28 23:21:08', 116, 41, 28, 185, 578.84, 307.09, 227.36, 1113.29),
 (3108, 3411, '2016-12-07 00:43:34', 256, 28, 0, 284, 1277.44, 209.72, 0, 1487.16),
 (3121, 3421, '2016-12-28 12:55:38', 372, 0, 24, 396, 1856.28, 0, 194.88, 2051.16),
 (3158, 3431, '2016-12-03 12:06:35', 326, 27, 22, 375, 1626.74, 202.23, 178.64, 2007.61),
 (3166, 3441, '2016-12-20 20:23:14', 487, 21, 5, 513, 2430.13, 157.29, 40.6, 2628.02),
 (3169, 3451, '2016-12-11 22:27:24', 480, 0, 2069, 2549, 2395.2, 0, 16800.28, 19195.48),
 (3206, 3461, '2016-12-22 01:36:40', 491, 1, 0, 492, 2450.09, 7.49, 0, 2457.58),
 (3244, 3471, '2016-12-20 22:29:50', 492, 6, 25, 523, 2455.08, 44.94, 203, 2703.02),
 (3250, 3481, '2016-12-25 23:30:36', 340, 55, 16, 411, 1696.6, 411.95, 129.92, 2238.47),
 (3288, 3491, '2016-12-01 12:10:24', 489, 6, 0, 495, 2440.11, 44.94, 0, 2485.05),
 (3289, 3491, '2016-12-31 04:33:32', 511, 3, 0, 514, 2549.89, 22.47, 0, 2572.36),
 (3296, 3501, '2016-12-03 15:18:11', 145, 8, 3, 156, 723.55, 59.92, 24.36, 807.83),
 (3301, 3511, '2016-12-10 13:15:16', 492, 2, 12, 506, 2455.08, 14.98, 97.44, 2567.5),
 (3302, 3521, '2016-12-30 05:37:39', 183, 12, 0, 195, 913.17, 89.88, 0, 1003.05),
 (3320, 3531, '2016-12-15 11:59:26', 171, 7, 24, 202, 853.29, 52.43, 194.88, 1100.6),
 (3330, 3541, '2016-12-29 03:38:00', 485, 0, 688, 1173, 2420.15, 0, 5586.56, 8006.71),
 (3351, 3551, '2016-12-07 03:23:24', 495, 52, 25, 572, 2470.05, 389.48, 203, 3062.53),
 (3363, 3571, '2016-12-16 09:12:52', 492, 27, 30, 549, 2455.08, 202.23, 243.6, 2900.91),
 (3364, 3581, '2016-12-28 12:32:19', 292, 48, 13, 353, 1457.08, 359.52, 105.56, 1922.16),
 (3378, 3591, '2016-12-23 13:49:40', 310, 24, 45, 379, 1546.9, 179.76, 365.4, 2092.06),
 (3383, 3601, '2016-12-16 17:26:44', 315, 45, 14, 374, 1571.85, 337.05, 113.68, 2022.58),
 (3387, 3611, '2016-12-17 12:50:26', 520, 0, 3, 523, 2594.8, 0, 24.36, 2619.16),
 (3390, 3621, '2016-12-23 10:01:14', 305, 25, 27, 357, 1521.95, 187.25, 219.24, 1928.44),
 (3407, 3631, '2016-12-10 16:54:11', 282, 21, 15, 318, 1407.18, 157.29, 121.8, 1686.27),
 (3413, 3641, '2016-12-28 23:13:27', 497, 0, 69, 566, 2480.03, 0, 560.28, 3040.31),
 (3428, 3651, '2016-12-13 16:22:42', 490, 11, 33, 534, 2445.1, 82.39, 267.96, 2795.45),
 (3437, 3661, '2016-12-08 21:55:56', 517, 40, 2, 559, 2579.83, 299.6, 16.24, 2895.67),
 (3441, 3671, '2016-12-20 20:36:05', 303, 33, 16, 352, 1511.97, 247.17, 129.92, 1889.06),
 (3444, 3681, '2016-12-19 04:12:18', 549, 3, 0, 552, 2739.51, 22.47, 0, 2761.98),
 (3451, 3691, '2016-12-14 19:15:59', 496, 0, 26, 522, 2475.04, 0, 211.12, 2686.16),
 (3454, 3701, '2016-12-22 20:23:30', 631, 54, 11, 696, 3148.69, 404.46, 89.32, 3642.47),
 (3461, 3711, '2016-12-20 02:59:23', 299, 1054, 1, 1354, 1492.01, 7894.46, 8.12, 9394.59),
 (3475, 3721, '2016-12-22 18:00:16', 291, 44, 12, 347, 1452.09, 329.56, 97.44, 1879.09),
 (3479, 3731, '2016-12-11 22:39:09', 486, 4, 13, 503, 2425.14, 29.96, 105.56, 2560.66),
 (3480, 3741, '2016-12-09 09:51:27', 117, 22, 60, 199, 583.83, 164.78, 487.2, 1235.81),
 (3500, 3751, '2016-12-26 13:57:36', 499, 3, 29, 531, 2490.01, 22.47, 235.48, 2747.96),
 (3503, 3761, '2016-12-06 00:15:51', 494, 272, 860, 1626, 2465.06, 2037.28, 6983.2, 11485.54),
 (3513, 3781, '2016-12-19 04:18:01', 300, 0, 0, 300, 1497, 0, 0, 1497),

In [73]:
%%sql
SELECT COUNT(*)
FROM orders
WHERE occurred_at >= '2016-12-01'
AND occurred_at < '2017-01-01'

 * sqlite:///pandp.db
Done.

[(463,)]

In [74]:
%%sql
SELECT COUNT(*) AS order_count
FROM orders
WHERE occurred_at >= '2016-12-01'
AND occurred_at < '2017-01-01'

 * sqlite:///pandp.db
Done.

[(463,)]

In [75]:
%%sql
SELECT COUNT(primary_poc) AS account_primary_poc_count
FROM accounts

 * sqlite:///pandp.db
Done.

[(351,)]

In [76]:
%%sql
SELECT *
FROM accounts
WHERE primary_poc IS NULL

 * sqlite:///pandp.db
Done.

[]

### sum

In [77]:
%%sql
SELECT SUM(standard_qty) AS standard,
       SUM(gloss_qty) AS gloss,
       SUM(poster_qty) AS poster
FROM orders

 * sqlite:///pandp.db
Done.

[(1938346, 1013773, 723646)]

In [78]:
%%sql
SELECT SUM(poster_qty) AS total_poster_sales
FROM orders;

 * sqlite:///pandp.db
Done.

[(723646,)]

In [79]:
%%sql
SELECT standard_amt_usd + gloss_amt_usd AS total_standard_gloss
FROM orders;

 * sqlite:///pandp.db
Done.

[(778.55,),
 (1255.19,),
 (776.18,),
 (958.24,),
 (756.13,),
 (693.73,),
 (751.16,),
 (826.0799999999999,),
 (573.93,),
 (813.6,),
 (773.63,),
 (865.93,),
 (593.86,),
 (1555.1,),
 (925.84,),
 (1565.0,),
 (2734.59,),
 (2747.11,),
 (2936.92,),
 (2410.17,),
 (2669.65,),
 (2534.94,),
 (2911.7599999999998,),
 (5728.52,),
 (1696.74,),
 (1696.71,),
 (1038.09,),
 (3149.1099999999997,),
 (2747.17,),
 (2425.14,),
 (3051.74,),
 (2579.92,),
 (2477.54,),
 (1836.58,),
 (1264.98,),
 (1611.8799999999999,),
 (4239.16,),
 (1869.06,),
 (1541.91,),
 (1681.78,),
 (1586.97,),
 (1721.73,),
 (2295.4900000000002,),
 (1661.79,),
 (1686.77,),
 (1886.4099999999999,),
 (1784.0800000000002,),
 (1716.6599999999999,),
 (1681.76,),
 (1646.9,),
 (2694.7299999999996,),
 (1916.53,),
 (1823.97,),
 (1911.44,),
 (1544.53,),
 (1928.86,),
 (1721.69,),
 (1853.91,),
 (1679.28,),
 (748.5,),
 (958.22,),
 (2196.58,),
 (803.4399999999999,),
 (1489.64,),
 (850.87,),
 (763.54,),
 (474.05,),
 (748.5,),
 (723.55,),
 (646.23,),
 (890.81,),
 (1000.62,),
 (673.65,),
 (905.75,),
 (793.4599999999999,),
 (763.47,),
 (756.01,),
 (494.01,),
 (723.55,),
 (778.44,),
 (803.43,),
 (738.52,),
 (773.51,),
 (858.28,),
 (803.4399999999999,),
 (1282.44,),
 (763.47,),
 (3447.29,),
 (1023.05,),
 (693.61,),
 (738.52,),
 (810.9000000000001,),
 (1177.9,),
 (825.9,),
 (845.8100000000001,),
 (129.78,),
 (918.24,),
 (933.21,),
 (748.5,),
 (2078.7200000000003,),
 (2048.6,),
 (1709.24,),
 (1966.38,),
 (2026.3,),
 (1891.3700000000001,),
 (1452.09,),
 (1282.62,),
 (1776.68,),
 (1661.8,),
 (1487.02,),
 (1816.56,),
 (1609.37,),
 (1611.84,),
 (1664.26,),
 (1736.67,),
 (1639.33,),
 (1886.4099999999999,),
 (1941.15,),
 (224.7,),
 (1716.72,),
 (2365.93,),
 (1704.19,),
 (1681.73,),
 (0,),
 (1721.69,),
 (963.07,),
 (868.26,),
 (748.5,),
 (8540.62,),
 (2509.97,),
 (2088.49,),
 (2659.7200000000003,),
 (2747.1800000000003,),
 (3221.54,),
 (2549.89,),
 (2470.05,),
 (2300.4,),
 (2185.67,),
 (2552.4199999999996,),
 (2250.57,),
 (2592.3399999999997,),
 (1896.3600000000001,),
 (1487.02,),
 (1601.8999999999999,),
 (1569.5,),
 (1537.0900000000001,),
 (1691.61,),
 (2557.3799999999997,),
 (2452.6,),
 (2505.05,),
 (2519.95,),
 (2919.42,),
 (2597.33,),
 (2460.07,),
 (2460.07,),
 (2642.2999999999997,),
 (2829.56,),
 (3620.31,),
 (2375.24,),
 (2375.24,),
 (2559.88,),
 (2415.16,),
 (2447.6,),
 (2692.21,),
 (2632.2799999999997,),
 (2450.09,),
 (2495,),
 (2619.81,),
 (2582.46,),
 (2729.57,),
 (2502.59,),
 (2425.23,),
 (2505.0,),
 (2582.4,),
 (2350.29,),
 (11292.62,),
 (2707.17,),
 (2485.04,),
 (2694.75,),
 (2612.33,),
 (2589.86,),
 (2634.79,),
 (2637.2799999999997,),
 (2135.72,),
 (2504.98,),
 (2554.9700000000003,),
 (3423.81,),
 (2652.3,),
 (2495,),
 (2547.43,),
 (2524.94,),
 (2699.74,),
 (3141.54,),
 (2350.29,),
 (2465.06,),
 (1280.79,),
 (2450.09,),
 (2544.9,),
 (1509.6200000000001,),
 (1716.67,),
 (2554.9500000000003,),
 (2654.68,),
 (2534.92,),
 (2569.85,),
 (1781.5,),
 (2659.67,),
 (2499.99,),
 (2315.36,),
 (2649.69,),
 (2544.96,),
 (2480.03,),
 (2909.17,),
 (3338.34,),
 (12494.199999999999,),
 (2554.88,),
 (2854.38,),
 (2495,),
 (2664.76,),
 (2475.04,),
 (2512.49,),
 (2544.9,),
 (2589.8900000000003,),
 (2539.96,),
 (3353.85,),
 (2612.31,),
 (2472.58,),
 (3785.06,),
 (2672.19,),
 (2552.43,),
 (2534.92,),
 (2584.8900000000003,),
 (2589.88,),
 (2462.62,),
 (2519.95,),
 (2504.98,),
 (838.4399999999999,),
 (1389.7800000000002,),
 (1018.14,),
 (920.72,),
 (823.41,),
 (863.33,),
 (678.64,),
 (721.25,),
 (883.4,),
 (648.8199999999999,),
 (683.8,),
 (713.71,),
 (1073.3,),
 (1100.5,),
 (708.72,),
 (691.27,),
 (816.0699999999999,),
 (708.73,),
 (0,),
 (661.28,),
 (2066.12,),
 (928.31,),
 (1863.96,),
 (1711.72,),
 (2560.04,),
 (1541.91,),
 (5621.57,),
 (1761.6100000000001,),
 (1851.48,),
 (2078.52,),
 (1716.68,),
 (1881.45,),
 (1869.1999999999998,),
 (1554.43,),
 (2258.5,),
 (1746.69,),
 (1696.72,),
 (1706.7,),
 (441.75,),
 (1559.59,),
 (2048.73,),
 (1524.5100000000002,),
 (1721.69,),
 (2048.67,),
 (1397.2,),
 (1516.96,),
 (2156.02,),
 (1452.1,),
 (1958.93,),
 (521.49,),
 (668.76,),
 (3001.85,),
 (2554.9500000000003,),
 (2687.14,),
 (3536.08,),
 (1267.46,),
 (3196.52,),
 (2692.2,),
 (2287.95,),
 (2579.86,),
 (3218.55,),
 (2500.03,),
 (2495.03,),
 (2410.2200000000003,),
 (3490.62,),
 (5131.43,),
 (2320.35,),
 (2520.04,),
 (2697.23,),
 (2589.9300000000003,),
 (2450.09,),
 (2542.44,),
 (2420.15,),
 (2485.09,),
 (3243.97,),
 (2510.07,),
 (2744.61,),
 (2564.9500000000003,),
 (2407.7,),
 (2579.83,),
 (2499.99,),
 (2370.25,),
 (2514.9900000000002,),
 (2809.37,),
 (29601.84,),
 (2447.6,),
 (2714.7799999999997,),
 (2702.28,),
 (2554.88,),
 (5504.13,),
 (1986.37,),
 (1661.77,),
 (142.31,),
 (1142.74,),
 (1761.6100000000001,),
 (1951.38,),
 (1601.8799999999999,),
 (1636.8600000000001,),
 (1923.85,),
 (1816.57,),
 (2226.04,),
 (1474.55,),
 (1070.47,),
 (1804.02,),
 (1639.32,),
 (1971.3600000000001,),
 (1556.9499999999998,),
 (1674.28,),
 (1821.5500000000002,),
 (1604.41,),
 (1090.76,),
 (1287.62,),
 (1185.29,),
 (741.14,),
 (696.23,),
 (733.71,),
 (1038.1299999999999,),
 (556.49,),
 (1005.73,),
 (891.31,),
 (663.78,),
 (603.79,),
 (686.28,),
 (930.94,),
 (613.9000000000001,),
 (855.9599999999999,),
 (701.21,),
 (868.45,),
 (541.54,),
 (968.38,),
 (1000.67,),
 (651.3,),
 (706.22,),
 (324.36,),
 (873.56,),
 (553.98,),
 (558.88,),
 (830.97,),
 (596.39,),
 (604.02,),
 (793.6,),
 (573.92,),
 (1005.74,),
 (910.99,),
 (518.96,),
 (820.98,),
 (638.85,),
 (1492.01,),
 (2350.6800000000003,),
 (262.15,),
 (1579.4299999999998,),
 (1517.22,),
 (1721.72,),
 (1634.38,),
 (2612.36,),
 (2507.5499999999997,),
 (2549.9700000000003,),
 (2574.84,),
 (2727.18,),
 (2532.46,),
 (2465.06,),
 (2450.1600000000003,),
 (2779.58,),
 (2450.09,),
 (5606.3,),
 (2632.31,),
 (2504.98,),
 (2604.81,),
 (454.09,),
 (676.31,),
 (576.38,),
 (1107.8200000000002,),
 (738.6700000000001,),
 (354.44,),
 (1649.3,),
 (1629.4299999999998,),
 (1626.82,),
 (1596.91,),
 (484.06,),
 (820.9599999999999,),
 (1504.64,),
 (741.1600000000001,),
 (633.8499999999999,),
 (2884.34,),
 (2604.79,),
 (2400.19,),
 (2557.43,),
 (1841.53,),
 (1659.3,),
 (1541.91,),
 (1746.6799999999998,),
 (1886.48,),
 (2345.59,),
 (1417.16,),
 (1943.9399999999998,),
 (1536.99,),
 (1871.36,),
 (1756.59,),
 (8560.49,),
 (2008.6,),
 (1911.43,),
 (1661.79,),
 (1462.07,),
 (1819.09,),
 (1487.08,),
 (1556.88,),
 (1679.26,),
 (2554.88,),
 (2527.47,),
 (2525.0,),
 (1784.12,),
 (1482.03,),
 (1599.3500000000001,),
 (1659.28,),
 (1686.7900000000002,),
 (2158.5,),
 (1808.92,),
 (1581.96,),
 (1442.24,),
 (1509.57,),
 (1706.73,),
 (1719.2,),
 (8572.42,),
 (1043.08,),
 (2300.69,),
 (1893.9,),
 (1796.5700000000002,),
 (1544.43,),
 (1566.86,),
 (1699.22,),
 (2377.92,),
 (1764.1599999999999,),
 (2255.9700000000003,),
 (1691.77,),
 (1599.3799999999999,),
 (1759.14,),
 (1731.71,),
 (1514.58,),
 (1412.25,),
 (1629.34,),
 (1509.58,),
 (1796.62,),
 (1724.27,),
 (1691.76,),
 (978.0699999999999,),
 (1611.93,),
 (1938.92,),
 (1322.35,),
 (2792.11,),
 (2554.94,),
 (2534.92,),
 (3119.16,),
 (3204.0499999999997,),
 (2375.24,),
 (2679.64,),
 (2926.64,),
 (2519.95,),
 (2609.81,),
 (2692.16,),
 (2704.67,),
 (2480.03,),
 (3071.67,),
 (6799.09,),
 (2564.86,),
 (2587.4,),
 (2732.13,),
 (2487.5899999999997,),
 (4804.389999999999,),
 (2480.03,),
 (2564.92,),
 (3823.25,),
 (2689.61,),
 (3351.37,),
 (2582.3799999999997,),
 (3673.4300000000003,),
 (2514.96,),
 (2657.1899999999996,),
 (2734.6699999999996,),
 (2497.5,),
 (2534.92,),
 (3009.1299999999997,),
 (2480.03,),
 (2372.7599999999998,),
 (2385.22,),
 (1624.42,),
 (3224.62,),
 (1521.95,),
 (1646.82,),
 (1868.99,),
 (1544.41,),
 (1529.75,),
 (1926.3200000000002,),
 (1382.23,),
 (1584.47,),
 (1469.6299999999999,),
 (1891.52,),
 (1821.63,),
 (1711.73,),
 (1744.17,),
 (1639.3,),
 (1856.4699999999998,),
 (1634.3600000000001,),
 (1591.8500000000001,),
 (1821.5500000000002,),
 (990.5400000000001,),
 (1467.06,),
 (479.36,),
 (1624.33,),
 (1754.14,),
 (1082.98,),
 (1654.3,),
 (2088.5699999999997,),
 (1681.79,),
 (1437.28,),
 (1794.0700000000002,),
 (1903.97,),
 (1699.1699999999998,),
 (1506.99,),
 (1654.31,),
 (1918.81,),
 (2023.58,),
 (738.6600000000001,),
 (748.6500000000001,),
 (771.14,),
 (1631.9399999999998,),
 (1806.53,),
 (1639.32,),
 (1976.21,),
 (1417.16,),
 (1649.32,),
 (2040.91,),
 (1749.1799999999998,),
 (1726.67,),
 (1624.34,),
 (1684.26,),
 (1719.2,),
 (1511.97,),
 (2170.85,),
 (1609.42,),
 (1848.9900000000002,),
 (1482.03,),
 (1464.6100000000001,),
 (1215.21,),
 (2605.89,),
 (1599.3500000000001,),
 (1482.03,),
 (2123.35,),
 (2285.59,),
 (1669.29,),
 (1936.4299999999998,),
 (1826.54,),
 (1616.86,),
 (1714.18,),
 (1866.4499999999998,),
 (1684.28,),
 (1664.25,),
 (1696.7,),
 (1599.41,),
 (1679.25,),
 (1938.9299999999998,),
 (2308.02,),
 (1791.6299999999999,),
 (2103.71,),
 (1532.06,),
 (1836.48,),
 (1928.91,),
 (1554.41,),
 (1564.41,),
 (2055.88,),
 (1452.15,),
 (1694.23,),
 (1988.69,),
 (1734.17,),
 (1706.7599999999998,),
 (1986.3100000000002,),
 (2822.04,),
 (1511.97,),
 (1764.1399999999999,),
 (1851.51,),
 (1871.44,),
 (1714.19,),
 (1751.63,),
 (1749.1799999999998,),
 (1614.36,),
 (1507.0,),
 (1769.1699999999998,),
 (1766.69,),
 (2927.62,),
 (1779.12,),
 (1868.83,),
 (1432.13,),
 (1691.78,),
 (1671.78,),
 (2499.99,),
 (2577.35,),
 (2604.85,),
 (2619.75,),
 (2415.2200000000003,),
 (2649.75,),
 (2465.1,),
 (2160.7400000000002,),
 (2495,),
 (2515.01,),
 (2405.18,),
 (2704.71,),
 (2347.7999999999997,),
 (2547.47,),
 (723.71,),
 (756.1400000000001,),
 (1659.35,),
 (4638.139999999999,),
 (1504.6,),
 (1856.4699999999998,),
 (1711.73,),
 (1754.14,),
 (1936.24,),
 (1654.26,),
 (1701.77,),
 (1442.11,),
 (2600.51,),
 (1784.0800000000002,),
 (1502.03,),
 (1671.74,),
 (1669.28,),
 (1851.4699999999998,),
 (2066.04,),
 (1669.28,),
 (1551.9499999999998,),
 (1714.2399999999998,),
 (1482.03,),
 (935.79,),
 (1731.83,),
 (1746.66,),
 (1846.52,),
 (1804.06,),
 (1888.95,),
 (1709.2,),
 (1589.44,),
 (1681.79,),
 (1599.37,),
 (1764.13,),
 (1636.89,),
 (1886.38,),
 (1489.52,),
 (2515.05,),
 (1482.03,),
 (1679.28,),
 (112.35,),
 (1676.8,),
 (1804.08,),
 (1609.35,),
 (1731.7199999999998,),
 (2300.61,),
 (1639.34,),
 (1791.5900000000001,),
 (1816.5500000000002,),
 (2762.13,),
 (2569.85,),
 (2460.07,),
 (2185.62,),
 (2340.31,),
 (2440.11,),
 (2679.6800000000003,),
 (2397.85,),
 (2487.5499999999997,),
 (2924.3399999999997,),
 (1327.34,),
 (2405.18,),
 (2499.99,),
 (2499.99,),
 (3256.49,),
 (3024.03,),
 (2290.62,),
 (2831.83,),
 (2499.99,),
 (2467.56,),
 (2839.35,),
 (59.92,),
 (2939.42,),
 (2564.86,),
 (2475.06,),
 (2500.07,),
 (2961.88,),
 (2544.93,),
 (2597.37,),
 (5428.620000000001,),
 (2440.12,),
 (2375.26,),
 (2475.04,),
 (2767.17,),
 (3039.2699999999995,),
 (2465.06,),
 (3041.85,),
 (2514.96,),
 (0,),
 (92739.33,),
 (2475.04,),
 (2719.6400000000003,),
 (2517.71,),
 (2355.33,),
 (2505.0,),
 (2617.31,),
 (2500.0,),
 (2499.99,),
 (1474.57,),
 (2557.5,),
 (2522.45,),
 (2592.35,),
 (2504.98,),
 (2492.54,),
 (2440.11,),
 (2687.19,),
 (3009.28,),
 (2519.9900000000002,),
 (2460.07,),
 (2544.9700000000003,),
 (2509.97,),
 (3289.0,),
 (2297.93,),
 (2472.5899999999997,),
 (1916.16,),
 (2524.9900000000002,),
 (2495.04,),
 (2694.7799999999997,),
 (2375.25,),
 (2744.54,),
 (2410.23,),
 (2529.93,),
 (2752.09,),
 (2544.9,),
 (2475.04,),
 (2714.71,),
 (2639.72,),
 (2769.45,),
 (3742.51,),
 (3360.7799999999997,),
 (2627.2999999999997,),
 (2547.4199999999996,),
 (2597.35,),
 (2657.23,),
 (2582.35,),
 (681.27,),
 (1315.06,),
 (723.72,),
 (656.3199999999999,),
 (748.72,),
 (1103.28,),
 (499.12,),
 (698.77,),
 (831.01,),
 (1364.97,),
 (566.52,),
 (1117.91,),
 (626.3399999999999,),
 (691.26,),
 (758.6700000000001,),
 (791.1199999999999,),
 (748.6800000000001,),
 (1544.45,),
 (2712.61,),
 (1437.12,),
 (1754.1599999999999,),
 (1654.32,),
 (1741.67,),
 (1467.1100000000001,),
 (1848.96,),
 (2787.7799999999997,),
 (0,),
 (1432.13,),
 (1754.14,),
 (1881.39,),
 (1684.28,),
 (1804.06,),
 (1579.4199999999998,),
 (1656.76,),
 (1814.1,),
 (1616.9,),
 (1656.8,),
 (1851.42,),
 (1267.46,),
 (1596.92,),
 (1644.3700000000001,),
 (1809.0700000000002,),
 (1541.96,),
 (1599.3899999999999,),
 (1549.49,),
 (1604.3300000000002,),
 (1739.18,),
 (1819.08,),
 (1754.1599999999999,),
 (1417.3,),
 (1671.65,),
 (1716.8,),
 (1187.62,),
 (1754.1599999999999,),
 (1869.04,),
 (1529.5900000000001,),
 (2697.18,),
 (2584.92,),
 (2589.87,),
 (3258.92,),
 (2667.24,),
 (2654.8,),
 (2689.6600000000003,),
 (2704.69,),
 (2697.26,),
 (2644.7,),
 (2722.15,),
 (2747.14,),
 (2470.13,),
 (2514.97,),
 (2874.24,),
 (2440.11,),
 (3573.57,),
 (2499.99,),
 (2939.1600000000003,),
 (2360.32,),
 (2564.88,),
 (4609.6900000000005,),
 (2233.04,),
 (2514.96,),
 (2532.48,),
 (2475.04,),
 (2465.07,),
 (14.98,),
 (3603.53,),
 (2727.2000000000003,),
 (2460.07,),
 (2467.56,),
 (2445.1,),
 (2519.98,),
 (2804.4,),
 (2609.88,),
 (2827.08,),
 (2714.71,),
 (791.1,),
 (1898.8,),
 (11576.65,),
 (683.8199999999999,),
 (843.4100000000001,),
 (751.14,),
 (890.81,),
 (783.62,),
 (586.46,),
 (2310.39,),
 (2574.84,),
 (2507.5099999999998,),
 (2599.79,),
 (2504.98,),
 (2490.1000000000004,),
 (2589.9300000000003,),
 (2470.07,),
 (2642.2799999999997,),
 (2410.21,),
 (4302.639999999999,),
 (2520.0,),
 (2360.27,),
 (2455.11,),
 (2547.45,),
 (2480.1,),
 (2604.82,),
 (6956.59,),
 (2604.85,),
 (299.45000000000005,),
 (2849.52,),
 (2589.8900000000003,),
 (2814.36,),
 (2692.21,),
 (2737.13,),
 (2435.12,),
 (2944.39,),
 (2352.7999999999997,),
 (2632.2999999999997,),
 (2552.46,),
 (2412.6699999999996,),
 (2509.97,),
 (142.31,),
 (2639.8100000000004,),
 (2510.01,),
 (2450.09,),
 (2956.67,),
 (3061.3799999999997,),
 (2475.04,),
 (2614.91,),
 (2504.9900000000002,),
 (2410.17,),
 (2579.86,),
 (2732.1,),
 (2592.37,),
 (2145.7,),
 (2405.3599999999997,),
 (14.97,),
 (2562.43,),
 (2779.52,),
 (2694.75,),
 (67.41,),
 (2517.49,),
 (2509.9900000000002,),
 (2539.92,),
 (1033.34,),
 (1402.8400000000001,),
 (638.8399999999999,),
 (603.85,),
 (913.42,),
 (623.8399999999999,),
 (813.6099999999999,),
 (548.9,),
 (1756.6,),
 (1856.28,),
 (1744.1999999999998,),
 (1482.03,),
 (833.39,),
 (763.47,),
 (199.6,),
 (793.41,),
 (910.7,),
 (1112.85,),
 (486.55,),
 (753.49,),
 (603.86,),
 (830.88,),
 (805.96,),
 (808.45,),
 (953.23,),
 (973.24,),
 (1008.1299999999999,),
 (653.69,),
 (900.74,),
 (721.11,),
 (945.7099999999999,),
 (785.95,),
 (920.73,),
 (815.93,),
 (1442.21,),
 (908.3,),
 (736.0400000000001,),
 (114.77,),
 (2346.33,),
 (960.59,),
 (746.07,),
 (803.39,),
 (2594.81,),
 (2405.18,),
 (2495,),
 (2480.03,),
 (2490.05,),
 (2450.13,),
 (3096.41,),
 (2499.99,),
 (810.92,),
 (1824.02,),
 (1654.31,),
 (4333.07,),
 (2023.7600000000002,),
 (1649.3500000000001,),
 (4658.29,),
 (1721.67,),
 (1826.49,),
 (3702.58,),
 (2514.97,),
 (3044.0299999999997,),
 (2839.5299999999997,),
 (2634.8,),
 (2514.96,),
 (2163.1699999999996,),
 ...]

In [80]:
%%sql
SELECT SUM(standard_amt_usd)/SUM(standard_qty) AS standard_price_per_unit
FROM orders;

 * sqlite:///pandp.db
Done.

[(4.990000000000011,)]

In [81]:
%%sql
SELECT MIN(standard_qty) AS standard_min,
       MIN(gloss_qty) AS gloss_min,
       MIN(poster_qty) AS poster_min,
       MAX(standard_qty) AS standard_max,
       MAX(gloss_qty) AS gloss_max,
       MAX(poster_qty) AS poster_max
FROM   orders

 * sqlite:///pandp.db
Done.

[(0, 0, 0, 22591, 14281, 28262)]

## average

In [82]:
%%sql
SELECT AVG(standard_qty) AS standard_avg,
       AVG(gloss_qty) AS gloss_avg,
       AVG(poster_qty) AS poster_avg
FROM orders

 * sqlite:///pandp.db
Done.

[(280.43200231481484, 146.6685474537037, 104.6941550925926)]

In [84]:
%%sql
SELECT MAX(occurred_at)
FROM web_events;

 * sqlite:///pandp.db
Done.

[('2017-01-01 23:51:09',)]